nextflow.enable.dsl=2

process {
  executor = 'slurm'
  clusterOptions = '--partition=shared --account='
  cpus = 2
  memory = 4.GB
  time = 1.h

  withLabel: 'process_bwa_index'            { cpus = 8;  memory = 8.GB;   time = 4.h }
  withLabel: 'process_bwa_aln_samse'        { cpus = 16; memory = 16.GB;  time = 6.h }
  withLabel: 'process_merge_dedup_bams'     { cpus = 8;  memory = 8.GB;   time = 4.h  }
  withLabel: 'process_call_fixed_variants'  { cpus = 16; memory = 16.GB;  time = 4.h  }
  withLabel: 'process_make_consensus'       { cpus = 4;  memory = 4.GB;   time = 2.h  }

}

workDir = 'work'
resume = true
