nextflow.enable.dsl=2

process {
  executor = 'slurm'
  errorStrategy = 'finish'
  clusterOptions = '--partition=shared --account=naiss2025-22-1155'
  cpus = 4
  memory = 4.GB
  time = 4.h

  withLabel: 'process_bwa_index'            { cpus = 8;   memory = 8.GB;    time = 4.h }
  withLabel: 'process_bwa_aln_samse'        { cpus = 32;  memory = 28.GB;   time = 6.h; maxForks = 200 }
  withLabel: 'process_merge_dedup_bams'     { cpus = 16;  memory = 14.GB;   time = 4.h }
  withLabel: 'process_call_fixed_variants'  { cpus = 16;  memory = 14.GB;   time = 4.h }
  withLabel: 'process_make_consensus'       { cpus = 8;   memory = 8.GB;    time = 4.h  }

}

executor {
  name = 'slurm'
  queueSize = 200
}

workDir = 'work'
resume = true
