nextflow.enable.dsl=2

process {
  executor = 'slurm'
  errorStrategy = 'finish'
  clusterOptions = '--partition=shared --account=naiss2025-22-1155'
  cpus = 4
  memory = 4.GB
  time = 4.h


  withLabel: 'process_bwa_index'              { cpus = 8;   memory = 8.GB;    time = 4.h }
  withLabel: 'process_bwa_aln_samse'          { cpus = 16;  memory = 14.GB;   time = 8.h; maxForks = 500 }
  withLabel: 'process_merge_dedup_bams'       { cpus = 16;  memory = 14.GB;   time = 4.h }
  withLabel: 'process_prepare_reference_gatk' { cpus = 4;   memory = 4.GB;    time = 1.h }
  withLabel: 'process_gatk_indel_realigner'   { cpus = 4;   memory = 16.GB;   time = 8.h }
  withLabel: 'process_call_fixed_variants'    { cpus = 16;  memory = 14.GB;   time = 4.h }
  withLabel: 'process_make_consensus'         { cpus = 8;   memory = 8.GB;    time = 1.h  }

}

apptainer {
  enabled    = true
  autoMounts = true
}

executor {
  name = 'slurm'
  queueSize = 500
}

workDir = 'work'
resume = true

